:root {
  --veryligth-purle:#FAFBFF;
  --white-purle:#B2B5E0;
  --ligth-purle: #CA8BFE;
  --purple: #A18AFF;
  --purple-dark: #7C5BF1;
  --pink: #FD99AF;

  --sky-blue: #3FD4F4;
  --yellow:  #FAC608;
  --ligth-gray: #F6FAFF;
  --gray: #717082;
  --dark-gray: #2F2C2D;
  --white: #FFF;
  --light: #EEE;
  --dark-blue: #0A184C;
  --red: #F15C6E;
  --green: #DAFD54;


  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins
}

body {
  background-color:var(--light);
}
